$color_negro: black;
$color_blanco: white;
$color_verde_agua: aquamarine;
$color_amarillo_claro: cornsilk;
$color_rojo_1: #eb4034;
$color_rojo_3: rgb(240, 84, 84);
$color_rojo_4: #ff8c69;
$color_rosa_1:#f54263;
$color_rosa_2:#d6a2bc;
$color_rosa_3: #f598e9;
$color_rosa_4: rgb(228, 131, 207);
$color_lila: rgb(226, 140, 237);
$color_violeta_1: #70194c;
$color_violeta_2:rgb(149, 98, 156);
$color_violeta_3: #a94aff;
$color_azul_acero:steelblue;
$color_azul_claro:#6c70f5;
$color_rosy_brown: rosybrown;